<!-- Footer -->
<footer class="bg-light text-center text-lg-start">
    <!-- Grid container -->
    <div class="container p-4">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
          <h5 class="text-uppercase">More Infos :</h5>
  
          TEL : +216 20 760 966 <br>
                +216 23 244 448
          <address> Adress: 8010 Menzel Bouzelfa, Nabeul, Tunisia</address>
        </div>
        <!--Grid column-->
  
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Social Links</h5>
  
          <ul class="list-unstyled mb-0">
            <li>
              <a href="https://www.facebook.com/makejoyy/" class="text-dark" target="_blank"><i class="fab fa-facebook-square"></i>  FACEBOOK</a>
            </li>
            <li>
              <a href="https://www.instagram.com/make.joy1/" class="text-dark" target="_blank"><i class="fab fa-instagram"></i>  INSTAGRAM</a>
            </li>
            <li>
              <a href="#!" class="text-dark" target="_blank"><i class="fab fa-twitter"></i>  TWITTER</a>
            </li>
            <li>
              <a href="#!" class="text-dark" target="_blank"><i class="fab fa-linkedin"></i>  LINKEDIN</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(168, 168, 168, 0.2)">
      © 2021 Copyright:
      <strong><a class="text-dark" href="https://www.facebook.com/makejoyy/">Make Joy.</a></strong>
      All Rights Reserved
      <p>Powered By <strong><a href="https://www.facebook.com/lbeltifa/" class="text-dark">louay Beltifa</a></strong></p>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->